---
layout: base
layout-type: #container | container-fluid
custom-stylesheet: 
---

<header class="navbar navbar-expand navbar-dark fixed-top" style="background-color: #112244;">
  <nav class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a>
      </li>
    </ul>
    <div class="navbar-text">{{ page.title }}</div>
  </nav>
</header>

<main class="{% if page.layout-type %}{{page.layout-type}}{% else %}{{ layout.layout-type | default: "container"}}{%endif%}">
  {{ content }}
</main>
