---
layout: base
layout-type:
---

{% if site.swup-animation %}
  <div class="transition-{{ page.transition }}" id="swup">
    <main class="{% if page.layout-type %}{{page.layout-type}}{% else %}{{ layout.layout-type | default: "container"}}{%endif%}">
      {{ content }}
    </main>
    <footer class="fixed-bottom">
      <div class="container">
        <div class="row">
          {% include components/molecules/nav.html data=site.data.navigation.global %}
        </div>
      </div>
    </footer>  </div>
  {% else %}
  <main class="{% if page.layout-type %}{{page.layout-type}}{% else %}{{ layout.layout-type | default: "container"}}{%endif%}">
    {{ content }}
  </main>
  <footer class="fixed-bottom">
    <div class="container">
      <div class="row">
        {% include components/molecules/nav.html data=site.data.navigation.global %}
      </div>
    </div>
  </footer>
{% endif %}
