---
layout: base
---

{% if site.swup-animation %}
  <div class="transition-{{ page.transition }}" id="swup">
    <main class="{{ layout.container-type | default: "container"}}{{ page.container-type | default: "container" }}">
      {{ content }}
    </main>
    <footer class="fixed-bottom">
      <div class="container">
        <div class="row">
          {% include components/molecules/nav.html data=site.data.navigation.global %}
        </div>
      </div>
    </footer>  </div>
  {% else %}
  <main class="{{ layout.container-type | default: "container"}}{{ page.container-type | default: "container" }}">
    {{ content }}
  </main>
  <footer class="fixed-bottom">
    <div class="container">
      <div class="row">
        {% include components/molecules/nav.html data=site.data.navigation.global %}
      </div>
    </div>
  </footer>
{% endif %}
